<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
  <div class="col-8 offset-2">  
    <br><br>
    <h3>Create a New Listing</h3>
    <form action="/listings/" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title name:</label>
        <input type="text" name="listing[title]" class="form-control" required>
         <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      enter valid title..
    </div>
    </div>
    <div class="mb-3">
      <label for="description"class="form-label">Description:</label>
      <textarea type="text" name="listing[description]" class="form-control" required></textarea>
       <div class="invalid-feedback">
      enter valid description..
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Upload Image:</label>
      <input type="file" class="form-control" name="listing[image]" required >
    </div>
    <div class="row"> 
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Enter your price:</label>
        <input type="number" name="listing[price]"  class="form-control" required> 
        <div class="invalid-feedback">
        Please enter valid price..
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
      </div>
      <div class="mb-3 col-md-8">
        <label for="location" class="form-label">Enter your location:</label>
        <input type="text" name="listing[location]" class="form-control" required>
        <div class="invalid-feedback">
        Please enter valid location..
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="country" class="form-label">Enter country name:</label>
      <input type="text" name="listing[country]" class="form-control" id="country" required>
      <div class="invalid-feedback">
        Please enter valid country..
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
    </div>
    <br><br>
    <button class="btn btns btn-dark">submit</button>
  </form>
</div>
</div>